@import "tailwindcss";

@tailwind utilities;


@theme{
  --color-main: #7ca6fc;
  --color-accent: #7FD0E7;
  --color-dark-accent: #32B6DB;
  --color-accent-hover: #7FD0E7;
  --color-file-tan: #F4EEE9;
  --color-gray-theme: #D0D0D1;
  --color-sub: #d1ddf5;
  --color-gray: #f2f2f2;
  --color-black: #494949;

  --btn-pad: 5px 10px;

}

html{ @apply 
  bg-gray-theme;
}

.main-container{ @apply 


  w-screen 
  h-screen 
  
}
.project-sub{ @apply
  flex
  justify-center
  items-center
  w-full

}
.title{
  @apply font-bold text-8xl
}

.subtitle{
   @apply text-2xl
}

.accent-btn{
  @apply bg-accent 
  p-(--btn-pad) 
  items-center 
  justify-center 
  rounded-lg
  border-4
  font-bold
  cursor-pointer;
}

.nav-item{
  @apply inline-block text-black dark:text-gray hover:text-accent-hover cursor-pointer;
}
