@import "tailwindcss";

@tailwind utilities;


@theme{
  --color-main: #7ca6fc;
  --color-accent: #FFCD70;
  --color-accent-hover: #FFB224;
  --color-file-tan: #F4EEE9;
  --color-gray-theme: #F4F3F2;
  --color-sub: #d1ddf5;

  --btn-pad: 5px 10px;

}

html{ @apply 
  bg-gray-theme
}

.main-container{ @apply 
  flex 
  items-center 
  justify-center 

  w-screen 
  h-screen 
}
.title{
  @apply font-extrabold text-8xl
}

.subtitle{
   @apply text-2xl
}

.accent-btn{
  @apply bg-accent 
  p-(--btn-pad) 
  items-center 
  justify-center 
  rounded-lg
  border-4
  font-bold
  cursor-pointer;
}

.nav-item{
  @apply inline-block text-black hover:text-main cursor-pointer;
}
