@import "tailwindcss"; 
@tailwind utilities;

/* Optional custom theme colors using Tailwind’s variables (not @theme syntax!) */
@theme{
  --color-main: #7ca6fc;
  --color-accent: #7FD0E7;
  --color-dark-accent: #32B6DB;
  --color-accent-hover: #7FD0E7;
  --color-file-tan: #F4EEE9;
  --color-sub: #d1ddf5;
  --color-gray-back: #f2f2f2;
  --color-quasi-black: #3b3b3b;
  --color-black-back: #333333;
  --color-white-back: #ffffff;
}

/* example body and button styles */
body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--color-gray-theme);
}

button {
  @apply rounded-lg border font-bold cursor-pointer;
}
